<h1>Health Monitoring System</h1>

<div>
<%= form_for :user, url: users_path  do |f| %>
  <% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "flash #{key}" %>
<% end %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 <p>
    <%= f.label :firstname %>
    <%= f.text_field :firstname %>
  </p>
 <p>
    <%= f.label :lastname %>
    <%= f.text_field :lastname %>
  </p>
 <p>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </p>
 
  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>
 <p>
    <%= f.label :confirmpassword %>
    <%= f.password_field :confirmpassword %>
  </p>
 
  <p>
    <%= f.submit 'Sign Up'%>
  </p>
<% end %>
</div>
